/* .content {
    background-color: white;
    padding: 10px;
} */

/* div {

    display: block;
} */

#welcome-img {
    border-radius: 20px;
    margin: 15px;
    width: 124%;
    height: 200px
}

body {
    background-color: rgb(175, 172, 172);
    align-items: center;
    color: black;
   background-image:url(./images/OIP.jpeg);
   background-size:  cover;

}

.posts-container {
    display: flex;
    flex-direction: row;
    border-radius: 20;
}

.post-container {
    margin-left: 15px;
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    width: fit-content;
    border-radius: 10px;
}

.post-container {


    border-radius: 20;
}




.post-img {
    width: 200px;
    border-radius: 20px;
}

/* .post-dim {
    opacity: 0.5;
    border-radius: 0px;
} */


.post-dim img {
    border-radius: 20px;
}

